[data-code-fragment-element] {
	position: absolute;
	top: 1.8em;
	right: 5%;
	width: 300px;
	background: rgba(34, 34, 34, 0.9);
	border: 1px solid var(--primary);
	padding: 15px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
	z-index: 10;
	text-align: left;
	border-radius: 0 8px 0 8px;
}

.no-code-link [data-code-fragment-element] {
	top: 0;
}

.reveal .code-path {
	text-align: left;
	display: block;
	padding: 0 48px 0 48px;
}
