[data-code-fragment-element] {
	position: absolute;
	top: 1.8em;
	right: 5%;
	width: 300px;
	background: rgba(34, 34, 34, 0.9);
	border: 2px solid var(--code-fragment-element-color);
	padding: 15px;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
	z-index: 10;
	text-align: left;
	border-radius: 8px;
}

.reveal .code-path {
	text-align: left;
	display: block;
	padding: 0 48px 0 48px;
}
